@model Project1.Models.Trainer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Trainer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrainerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrainerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpecializationID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpecializationID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Experience)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Experience)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Qualifications)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Qualifications)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Photo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TrainerID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
