@model CheckoutVM

  <!--================Checkout Area =================-->
    <section class="checkout_area section_gap">
        <div class="container">
            <div class="billing_details">
                <div class="row">
                    <div class="col-lg-8">
                        <h3>帳單寄送資訊</h3>
                        <form class="contact_form" action="#" method="post" novalidate="novalidate">
                         
                            @* <div class="col-md-6 form-group p_star">
                                <input type="text" class="form-control" id="last" name="name" placeholder="姓氏" value="" required>
                                 <span class="placeholder" data-placeholder=""></span> 
                            </div> *@
                            <div class="row">
                                <div class="col-md-6 form-group p_star">
                                    <input type="text" class="form-control" id="last" name="name" placeholder="姓氏" value="@Model.Member.Name" required>
                                </div>
                            </div>
                            @* <div class="col-md-6 form-group p_star">
                            <input type="text" class="form-control" id="first" name="name" placeholder="名字" required>
                            <span class="placeholder" data-placeholder=""></span>
                            </div> *@
                           
                            @* <div class="col-md-12 form-group">
                                <input type="text" class="form-control" id="company" name="company" placeholder="Company name">
                            </div> *@
                            <div class="row">
                                <div class="col-md-6 form-group p_star">
                                    <input type="tel" class="form-control" id="number" name="number" placeholder="連絡電話" value="@Model.Member.Phone">
                                    @* <span class="placeholder" data-placeholder="Phone number"></span> *@
                                </div>
                                <div class="col-md-6 form-group p_star">
                                    <input type="email" class="form-control" id="email" name="compemailany" placeholder="電子信箱" value="@Model.Member.Email" required>
                                    @* <span class="placeholder" data-placeholder="Email Address"></span> *@
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group p_star">
                                    
                                    <select class="country_select">
                                    @foreach (var city in Model.Location)
                                    {
                                        if (city.LocationName == Model.Member.ResidenceArea)
                                        {
                                            <option value="@city.LocationID" selected>@city.LocationName</option>
                                        }
                                        else
                                        {
                                            <option value="@city.LocationID">@city.LocationName</option>
                                        }
                                        
                                    }
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" id="add1" name="add1" placeholder="地址" value="">
                                    @* <span class="placeholder" data-placeholder="Address line 01"></span> *@
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-4">
                        <div class="order_box">
                            <h2>您的訂單</h2>
                            <ul class="list">
                                <li><a href="#">課程 <span>總額</span></a></li>
                            @foreach(var courseObj in Model.courseObjList)
                            {
                                <li><a href="#">@Model.course.Where(c => c.CourseID == courseObj.CourseID).FirstOrDefault().CourseName<span class="middle">x @courseObj.Quantity</span> <span class="last">@(
                                                (Model.course.Where(c => c.CourseID == courseObj.CourseID).FirstOrDefault().Price * @courseObj.Quantity).ToString("c")
                                )</span></a></li>
                            }
                            </ul>
                            <ul class="list list_2">
                                <li><a href="#">總額 <span>@Model.subtotal.ToString("c")</span></a></li>
                            </ul>
                            <div class="payment_item">
                                <div class="radion_btn">
                                    <input type="radio" id="f-option5" name="selector">
                                    <label for="f-option5">信用卡</label>
                                    <div class="check"></div>
                                </div>
                                <p>
                                    一次付清，可使用 Visa/Mastercard
                                </p>
                            </div>
                            <div class="payment_item active">
                                <div class="radion_btn">
                                    <input type="radio" id="f-option6" name="selector">
                                    <label for="f-option6">ATM轉帳</label>
                                    <img src="img/product/card.jpg" alt="">
                                    <div class="check"></div>
                                </div>
                                <p>
                                    ATM轉帳付款
                                </p>
                            </div>
                            <div class="creat_account">
                                <input type="checkbox" id="f-option4" name="selector">
                            <label for="f-option4">我已閱讀並同意</label>
                            <a href="#">服務條款協議及相關細則內所有事項*</a>
                            </div>
                            <a class="primary-btn" href="#">前往付款</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Checkout Area =================-->
   