@{
    ViewData["Title"] = "Home Page";
}

@section Styles{
    <link href="~/datatables/css/jquery.datatables.min.css" rel="stylesheet" />
    <style>
       thead{
           background-color: burlywood;
           color: darkslategray;
       }  
       
   </style>
}





<div class="container">
        <table class="table">
                <thead>
                <tr>
                    <td data-sort="CourseID">課程ID</td>
                    <td data-sort="TrainerID">教練ID</td>
                    <td data-sort="Clicks">點擊次數</td>
                    <td data-sort="CourseAverageRating">課程平均分數</td>
                    <td data-sort="TotalQuantity">總購買量</td>
                </tr>
                </thead>
                <tbody>
            @foreach( var item in Model)
            {
                <tr>
                    <td>@item.CourseID</td>
                    <td>@item.TrainerID</td>
                    <td>@item.Clicks</td>
                    <td>@item.CourseAverageRating</td>
                    <td>@item.TotalQuantity</td>
                </tr>
            }
        </tbody>
        </table>  
</div>


@section Scripts{
    <script src="~/datatables/js/jquery.datatables.min.js" asp-append-version="true"></script>
    <script src="https://cdn.datatables.net/fixedheader/3.2.4/js/dataTables.fixedHeader.min.js">
    </script>
    <script>
        $(document).ready(function () {
            $("table").DataTable({
                "paging": true,
                "searching": true,
                "info": true,
                language: {
                    url: '//cdn.datatables.net/plug-ins/2.0.3/i18n/zh-HANT.json',
                }
            });
        });
    </script>
    
}
