@model OrderDetailsVM

@{
    ViewData["Title"] = "ViewDetails";
}

<form asp-controller="Order" asp-action="ViewDetails" method="post">
    <input asp-for="order.OrderID" hidden />
    <div class="p-3 mt-4">
        <div class="row pb-2">
            <h2>查看訂單明細</h2>
        </div>
    </div>
    <div asp-validation-summary="ModelOnly"></div>
    <div class="mb-3 row p-1">
        <label asp-for="order.OrderID" class="p-0" disabled>訂單編號</label>
        <input asp-for="order.OrderID" type="text" class="form-control" disabled />
        <span asp-validation-for="order.OrderID" class="text-danger"></span>
    </div>
    <div class="mb-3 row p-1">
        <label asp-for="order.MemberID" class="p-0 control-label">會員編號</label>
        <input asp-for="order.MemberID" type="text" class="form-control" disabled />
        <span asp-validation-for="order.MemberID" class="text-danger"></span>
    </div>
    @* <div class="mb-3 row p-1">
    <label asp-for="OrderDate" class="p-0"></label>
    <input asp-for="OrderDate" type="text" class="form-control" />
    <span asp-validation-for="OrderDate" class="text-danger"></span>
    </div> *@
    <div class="mb-3 row p-1">
        <div>
            <label asp-for="order.OrderDate" class="pr-3">訂單日期</label>
        </div>
        <div>
            <input asp-for="order.OrderDate" type="date" class="form-control" disabled />
            <span asp-validation-for="order.OrderDate" class="text-danger"></span>
        </div>
    </div>
    <div class="mb-3 row p-1">
        <div>
            <label asp-for="order.OrderStatus" class="pr-3">訂單狀態</label>
        </div>
        <div>
            <input asp-for="order.OrderStatus" type="text" class="form-control" disabled />
            <span asp-validation-for="order.OrderStatus" class="text-danger"></span>
        </div>
    </div>

    <div class="mb-3 row p-1">
        <label asp-for="order.TotalAmount" class="p-0">總額</label>
        <input asp-for="order.TotalAmount" type="text" class="form-control" disabled />
        <span asp-validation-for="order.TotalAmount" class="text-danger"></span>
    </div>
    <div class="mb-3 row p-1">
        <label asp-for="order.CreatedAt" class="p-0">訂單創立日期</label>
        <input asp-for="order.CreatedAt" type="text" class="form-control" disabled />
        <span asp-validation-for="order.CreatedAt" class="text-danger"></span>
    </div>
    <div class="mb-3 row p-1">
        <label asp-for="order.ModifiedAt" class="p-0">訂單修改日期</label>
        <input asp-for="order.ModifiedAt" type="text" class="form-control" disabled />
        <span asp-validation-for="order.ModifiedAt" class="text-danger"></span>
    </div>

</form>
<div class="p-3 mt-4">
    <div class="row pb-2">
        <h3>訂單明細編號: @Model.order.OrderID</h3>
    </div>
</div>

<table class="table table-hover table-striped table-bordered">
    <thead>
        <tr>
            <th>
                訂單明細編號
            </th>
            <th>
                訂單編號
            </th>
            <th>
                課程編號
            </th>
            <th>
                付款編號
            </th>
            <th>
                數量
            </th>
            <th>
                單價
            </th>
            <th>
                訂單明細創建日期
            </th>
            <th>
                訂單明細修改日期
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var orderDetail in Model.orderDetails)
        {
            <tr>
                <td>
                    @orderDetail.OrderDetailID
                </td>
                <td>
                    @orderDetail.OrderID
                </td>
                <td>
                    @orderDetail.CourseID
                </td>
                <td>
                    @Model.order.MerchantTradeNo
                </td>
                <td>
                    @orderDetail.Quantity
                </td>
                <td>
                    @orderDetail.UnitPrice
                </td>
                <td>
                    @orderDetail.CreatedAt
                </td>
                <td>
                    @orderDetail.ModifiedAt
                </td>
            </tr>
        }
    </tbody>
</table>
<section>
    <div class="container">
        <div class="row">
            <div class="col-12" style="height:50px;"></div>
        </div>

    </div>
</section>

<div class="row">
    <div class="col-6 col-md-3 text-right">
        <a asp-controller="Order" asp-action="Index" class="btn btn-outline-secondary form-control">
            返回
        </a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
