@model IEnumerable<Project1.Models.Course>

    @{
        ViewData["Title"] = "Index";
    }

    <h1>訓練師課程</h1>

    <p>
        <a asp-action="Create">新增課程</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CourseName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PetCategory)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CourseCategory)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CourseType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Location)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MaxParticipants)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EnrollmentCount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UpdatedAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Clicks)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CourseName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PetCategory)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CourseCategory)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CourseType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaxParticipants)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EnrollmentCount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedAt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UpdatedAt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Clicks)
                    </td>
                    <td>
                        <a asp-controller="Course" asp-action="Edit" asp-route-id="@item.CourseID">Edit</a> |
                        <a asp-controller="Course" asp-action="Details" asp-route-id="@item.CourseID">Details</a> |
                        <a asp-controller="Course" asp-action="Delete" asp-route-id="@item.CourseID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>