@* @model System.Collections.Generic.Dictionary<string, string> *@
@model CheckoutVM
@{
	Layout = "_Layout";
}
<!--================Order Details Area =================-->
<section class="order_details">
	<div class="container">	
		<div class="order_details_table">
			<h2>訂單明細確認</h2>
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">課程</th>
							<th scope="col">數量</th>
							<th scope="col">總額</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var courseObj in Model.courseObjList)
						{
							<tr>
								<td>
									<p>@Model.course.Where(c => c.CourseID == courseObj.CourseID).FirstOrDefault().CourseName</p>
								</td>
								<td>
									<h5>x @courseObj.Quantity</h5>
								</td>
								<td>
									<p>
											@(
												(Model.course.Where(c => c.CourseID == courseObj.CourseID).FirstOrDefault().Price * @courseObj.Quantity).ToString("c")
											)
									</p>
								</td>
							</tr>
						}
						
						<tr>
							<td>
								<h4>總共</h4>
							</td>
							<td>
								<h5></h5>
							</td>
							<td>
								<p>@(Model.subtotal.ToString("c"))</p>
							</td>
						</tr>
						<tr>
							<td>
								<h4>折扣</h4>
							</td>
							<td>
								<h5></h5>
							</td>
							<td>
								<p>- @(Model.subtotal - (Math.Round(Model.subtotal * Convert.ToDecimal(Model.discountPercentage), 2)))</p>
							</td>
						</tr>
						<tr>
							<td>
								<h4>總計</h4>
							</td>
							<td>
								<h5></h5>
							</td>
							<td>
								<p>
									@(
										Math.Round(Model.subtotal * Convert.ToDecimal(Model.discountPercentage), 2).ToString("c")
									)
								</p>
							</td>
						</tr>
						<tr>
							<td>
								<h4>付款方式</h4>
							</td>
							<td>
								<h5></h5>
							</td>
							<td>
								<p id="paymentType">
									
								</p>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
<!--================End Order Details Area =================-->
<br />
	<form id="form" name="form" method="POST" action="https://payment-stage.ecpay.com.tw/Cashier/AioCheckOut/V5">
			<div class="checkout_btn_inner d-flex align-items-end">
				<button type="submit" id="checkoutBtn" class="primary-btn">送出訂單</button>
			</div>
		<!--step2 : 收到後端的值印出來-->
		@foreach (var key in @Model.EcpayOrder.Keys.ToList())
		{
			<label hidden>@(key)</label>
			<input type="text" name="@key" value="@Model.EcpayOrder[key]" hidden/>
			<br />
		}
	</form>
</section>

@section Scripts
{
	<!-- js套件 -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
	@* <script src="https://code.jquery.com/jquery-3.5.1.js"></script>  *@
	<script src="https://cdn.jsdelivr.net/npm/jquery-twzipcode@1.7.14/jquery.twzipcode.min.js"></script>
	<!-- 自己的 -->
	<script src="~/js/ecpay.js"></script>

	<script>
		const queryParams = new URLSearchParams(window.location.search);
		const paymentType = queryParams.get('paymentType');
		if (paymentType === "ATM") {
			document.getElementById('paymentType').innerHTML = "ATM轉帳";
		}
		else{
			document.getElementById('paymentType').innerHTML = "信用卡";
		}
		
	</script>
}

   

