@model BrowseVM
<style>
    .button-form {
        display: inline-block;
        border: none;
        padding: 0;
        /* margin: 0;
                text-decoration: none;
                background: none;
                color: inherit; */
        /* cursor: pointer;
                text-align: center;
                -webkit-appearance: none;
                -moz-appearance: none; */
    }

        .button-form button.lnr {
            border: none;
            background: none;
            color: inherit;
            /* padding: 0; */
            /* cursor: pointer; */
        }
</style>

<div class="container">
    <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-5">
            <div class="sidebar-categories">
                <div class="head">課程類別</div>            
                @*Vue寫法*@
                <ul id="app" class="main-categories">
                    <li class="main-nav-list">
                        <a data-toggle="collapse" v-on:click="filterCourse()" aria-expanded="false" aria-controls="">
                            <span class="lnr lnr-arrow-right"></span>
                            全部課程
                            <span class="number">(@Model.courseList.Count())</span>
                        </a>
                    </li>
                    <li v-for="(item, index) in categoryNumber" :key="index" class="main-nav-list">
                        <a data-toggle="collapse" v-on:click="filterCourse(item.courseCategoryID)" v-bind:id="item.courseCategoryID" aria-expanded="false" aria-controls="">
                            <span class="lnr lnr-arrow-right"></span>
                            {{ item.categoryName }}
                            <span class="number">({{ item.totalNum }})</span>
                        </a>
                    </li>
                </ul>
            </div>
          @*   <div class="sidebar-filter mt-50">
                <div class="top-filter-head">Product Filters</div>
                <div class="common-filter">
                    <div class="head">Brands</div>
                    <form action="#">
                        <ul>
                            <li class="filter-list"><input class="pixel-radio" type="radio" id="apple" name="brand"><label for="apple">Apple<span>(29)</span></label></li>
                            <li class="filter-list"><input class="pixel-radio" type="radio" id="asus" name="brand"><label for="asus">Asus<span>(29)</span></label></li>
                            <li class="filter-list"><input class="pixel-radio" type="radio" id="gionee" name="brand"><label for="gionee">Gionee<span>(19)</span></label></li>
                            <li class="filter-list"><input class="pixel-radio" type="radio" id="micromax" name="brand"><label for="micromax">Micromax<span>(19)</span></label></li>
                            <li class="filter-list"><input class="pixel-radio" type="radio" id="samsung" name="brand"><label for="samsung">Samsung<span>(19)</span></label></li>
                        </ul>
                    </form>
                </div>
                <div class="common-filter">
                    <div class="head">Color</div>
                    <form action="#">
                        <ul>
                            <li class="filter-list"><input class="pixel-radio" type="radio" id="black" name="color"><label for="black">Black<span>(29)</span></label></li>
                            <li class="filter-list">
                                <input class="pixel-radio" type="radio" id="balckleather" name="color"><label for="balckleather">
                                    Black
                                    Leather<span>(29)</span>
                                </label>
                            </li>
                            <li class="filter-list">
                                <input class="pixel-radio" type="radio" id="blackred" name="color"><label for="blackred">
                                    Black
                                    with red<span>(19)</span>
                                </label>
                            </li>
                            <li class="filter-list"><input class="pixel-radio" type="radio" id="gold" name="color"><label for="gold">Gold<span>(19)</span></label></li>
                            <li class="filter-list"><input class="pixel-radio" type="radio" id="spacegrey" name="color"><label for="spacegrey">Spacegrey<span>(19)</span></label></li>
                        </ul>
                    </form>
                </div>
                <div class="common-filter">
                    <div class="head">Price</div>
                    <div class="price-range-area">
                        <div id="price-range"></div>
                        <div class="value-wrapper d-flex">
                            <div class="price">Price:</div>
                            <span>$</span>
                            <div id="lower-value"></div>
                            <div class="to">to</div>
                            <span>$</span>
                            <div id="upper-value"></div>
                        </div>
                    </div>
                </div>
            </div> *@
        </div>
        <div class="col-xl-9 col-lg-8 col-md-7">
            <!-- Start Filter Bar -->
         @*    <div class="filter-bar d-flex flex-wrap align-items-center">
                <div class="sorting">
                    <select>
                        <option value="1">Default sorting</option>
                        <option value="1">Default sorting</option>
                        <option value="1">Default sorting</option>
                    </select>
                </div>
                <div class="sorting mr-auto">
                    <select>
                        <option value="1">Show 12</option>
                        <option value="1">Show 12</option>
                        <option value="1">Show 12</option>
                    </select>
                </div>
                <div class="pagination">
                    <a href="#" class="prev-arrow"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
                    <a href="#" class="active">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#" class="dot-dot"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
                    <a href="#">6</a>
                    <a href="#" class="next-arrow"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                </div>
            </div> *@
            <!-- End Filter Bar -->
            <!-- Start Best Seller -->
            <section id="app2" class="lattest-product-area pb-40 category-list">
                <div id="courseListContainer" class="row">
                    <!-- single product -->
                    @foreach (var course in Model.courseList)
                    {
                        <div class="col-lg-4 col-md-6">
                            <div class="single-product">
                                <img class="img-fluid" src="@course.ThumbnailUrl" alt="">
                                <div class="product-details">
                                    <h6>
                                        @course.CourseName
                                    </h6>
                                    <input v-model="courseId" value="@course.CourseID" hidden disabled />
                                    <div class="price">
                                        <h6>@course.Price.ToString("c")</h6>
                                    </div>
                                    <div class="prd-bottom">
                                        @* <a v-on:click="addToCart" class="social-info">
                                    <span class="ti-bag"></span>
                                    <p class="hover-text">加入購物車</p>
                                    </a> *@
                                        <form asp-controller="Trainerrr" asp-action="singleCourse" asp-route-id="@course.CourseID" class="button-form social-info">
                                            <button class="lnr" v-on:click="actInfo(@course.CourseID)">
                                                <span class="lnr ti-bag"></span>
                                                <p class="hover-text">關於這門課</p>
                                            </button>
                                        </form>
                                        <form asp-action="FollowItem" asp-controller="Browse" asp-route-id="@course.CourseID" method="post" class="button-form social-info">
                                            @Html.AntiForgeryToken()
                                            <button type="submit" class="lnr">
                                                <span class="lnr lnr-heart"></span>
                                                <p class="hover-text">追蹤</p>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>
        </div>
    </div>


@*Vue寫法*@
@section Scripts {
    <script>
        // const baseUrl = "https://localhost:7177";
        const vueApp = {
            data() {
                return {
                    categoryNumber: [],
                    
                    currentCategoryNum: 0,
                }
            },
            methods: {
                    filterCourse(categoryId) {
                        this.currentCategoryNum = categoryId;
                        // Make AJAX request to fetch updated course list
                        axios.get(`/Browse/GetCourseListPartial?Id=${categoryId}`)
                            .then(response => {
                                // Replace the existing course list HTML with the updated one
                                document.getElementById('courseListContainer').innerHTML = response.data;
                                console.log(categoryId);
                            })
                            .catch(error => {
                                console.error(error);
                            });
                    }
                },
                mounted() {
                    const CategoryNumberUrl = `/Browse/CategoryNumber`;
                    axios.get(CategoryNumberUrl).then(response => {
                        this.categoryNumber = response.data;
                    }).catch(error => {
                        alert(error);
                    });

                // const AddToCartUrl = `${baseUrl}/Browse/AddToCart`;
                // axios.post(AddToCartUrl, data.courseId).then(response => {
                // alert(response.data);
                // }).catch(error => {
                // 	alert(error);
                // });
            },
        }
        var app = Vue.createApp(vueApp).mount("#app");

        const vueApp2 = {
            data() {
                return {
                    courseId: '',
                }
            },
            methods: {
                actInfo: function (courseId) {
                    axios.post('/Home/add1click', { courseID: courseId })
                        .then(response => {
                            if (response.status === 200) {
                                console.log('Click count updated successfully.');
                                // 这里可以进行进一步操作，例如导航到详情页
                                window.location.href = `/Trainerrr/singleCourse?courseID=${courseID}`;
                            } else {
                                console.error('Failed to update click count.');
                            }
                        })
                        .catch(error => {
                            console.error('Error:', error);
                        });
                    sessionStorage.setItem("ActID", courseId);
                }
            },
        }

        var app2 = Vue.createApp(vueApp2).mount("#app2");

    </script>

}
