@model CartVM

@section Styles
{
    <style>
        #discountButton {
            border: 0px outset buttonborder;
        }
    </style>
}
<!--================Cart Area =================-->
<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">課程</th>
                            <th scope="col">金額</th>
                            <th scope="col">數量</th>
                            <th scope="col">總額</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var cartItem in Model.shoppingCartList)
                        {
                          
                            <tr>
                                <td>
                                    <div class="media">
                                        <input type="text" name="cartId" id="cartId" value="@cartItem.CartID" hidden/>
                                        <div class="d-flex">
                                            <img src="@Model.courseList.Where(c => c.CourseID == cartItem.CourseID).FirstOrDefault().ThumbnailUrl" alt="">
                                        </div>
                                        <div class="media-body">
                                            <p>@Model.courseList.Where(c => c.CourseID == cartItem.CourseID).FirstOrDefault().CourseName</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h5 id="price@(cartItem.CartID)">@Model.courseList.Where(c => c.CourseID == cartItem.CourseID).FirstOrDefault().Price.ToString("c")</h5>
                                </td>
                                <td>
                                    <div class="product_count">
                                        <input type="text" name="qty" id="sst@(cartItem.CartID)" maxlength="2" value="@cartItem.Quantity" title="Quantity:"
                                              class="input-text qty" disabled>
                                        <button onclick="window.increase('sst@(cartItem.CartID)')"
                                           class="increase items-count" type="button">
                                            <i class="lnr lnr-chevron-up" ></i>
                                        </button>
                                        <button onclick="window.decrease('sst@(cartItem.CartID)')"
                                           class="reduced items-count" type="button">
                                            <i class="lnr lnr-chevron-down"></i>
                                        </button>
                                    </div>
                                </td>
                                <td>
                                    <h5 id="totalPrice@(cartItem.CartID)">
                                        @(
                                            (Model.courseList.Where(c => c.CourseID == cartItem.CourseID).FirstOrDefault().Price * cartItem.Quantity).ToString("c")
                                        )
                                    </h5>
                                </td>
                            </tr>
                        }
                            
                        <tr class="bottom_button">
                            <td>
                                @* <a class="gray_btn" href="#">Update Cart</a> *@
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                                <div class="cupon_text d-flex align-items-center">
                                    <input id="discountCode" value="" type="text" placeholder="請輸入優惠碼">
                                    <button id="discountButton" class="primary-btn" onclick="window.discountCode()">使用優惠碼</button>
                                    @* <a class="gray_btn" href="">Close Coupon</a> *@
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                                <h5>總計</h5>
                            </td>
                            <td>
                                <h5 id="subtotal">@(Model.subtotal.ToString("c"))</h5>
                            </td>
                        </tr>
                        <tr class="shipping_area">
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                                
                                <h5></h5>
                            </td>
                            <td>
                                @* <div class="shipping_box">
                                    <ul class="list">
                                        <li><a href="#">Flat Rate: $5.00</a></li>
                                        <li><a href="#">Free Shipping</a></li>
                                        <li><a href="#">Flat Rate: $10.00</a></li>
                                        <li class="active"><a href="#">Local Delivery: $2.00</a></li>
                                    </ul>
                                    <h6>Calculate Shipping <i class="fa fa-caret-down" aria-hidden="true"></i></h6>
                                    <select class="shipping_select">
                                        <option value="1">Bangladesh</option>
                                        <option value="2">India</option>
                                        <option value="4">Pakistan</option>
                                    </select>
                                    <select class="shipping_select">
                                        <option value="1">Select a State</option>
                                        <option value="2">Select a State</option>
                                        <option value="4">Select a State</option>
                                    </select>
                                    <input type="text" placeholder="Postcode/Zipcode">
                                    <a class="gray_btn" href="#">Update Details</a>
                                </div> *@
                            </td>
                        </tr>
                        <tr class="out_button_area">
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                                <div class="checkout_btn_inner d-flex align-items-end">
                                    <a asp-controller="Browse" asp-action="Index" class="gray_btn" >繼續購物</a>
                                    <a asp-controller="Checkout" asp-action="Index" class="primary-btn" >結帳</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<!--================End Cart Area =================-->

@section Scripts
{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        $(document).ready(function () {
            const updateDatabase = function (newQuantity, cartId) {
                $.ajax({
                    url: '/Browse/UpdateQuantity',
                    type: 'POST',
                    data: { 
                        quantity: newQuantity,
                        id: cartId,
                    },
                    success: function (response) {
                        var totalPrice = document.getElementById("totalPrice" + cartId);
                        totalPrice.textContent = response.totalPrice;
                        updateSubtotal();
                        
                    },
                    error: function (err) {
                        conosle.log(JSON.stringify(err));
                    }
                });
            };

            const updateSubtotal = function () {
                $.ajax({
                    url: '/Browse/UpdateSubtotal',
                    type: 'GET',
                    data: {
                        
                    },
                    success: function (response) {
                        const subtotal = document.getElementById("subtotal");
                        subtotal.textContent = response.subtotal;
                        console.log(JSON.stringify(response));
                    },
                    error: function (err) {
                        conosle.log(JSON.stringify(err));
                    }
                });
            };

            const validateDiscountCode = function (discountCode) {
                $.ajax({
                    url: '/Browse/ValidateDiscountCode',
                    type: 'GET',
                    data: {
                        discountCode: discountCode,
                    },
                    success: function (response) {
                        const discountCode = document.getElementById("discountCode");
                        if (response.validationResult == "success") {
                            alert("成功使用優惠碼!");
                            // TempData["success"] = "成功使用優惠碼!";
                            const subtotalValue = parseFloat(document.getElementById("subtotal").textContent.substring(1));
                            subtotal.textContent = "$" + (subtotalValue * response.discountPercentage).toFixed(2);
                            const discountButton = document.getElementById("discountButton");
                            discountButton.setAttribute("disabled", "disabled");
                        }
                        else if (response.validationResult == "not applicable") {
                            alert("此優惠碼不適用");
                            // TempData["error"] = "此優惠碼不適用";
                        }
                        else {
                            alert("查無優惠碼");
                            // TempData["error"] = "查無優惠碼";
                        }
                       
                        console.log(JSON.stringify(response));

                    },
                    error: function (err) {
                        conosle.log(JSON.stringify(err));
                    }
                });
            };

            window.increase = function (elementId) {
                var result = document.getElementById(elementId); //quantity
                result.value = parseInt(result.value) + 1;
                
                updateDatabase(parseInt(result.value), parseInt(elementId.substring(3)));
            }
            window.decrease = function (elementId) {
                var result = document.getElementById(elementId);
                if (parseInt(result.value) <= 1) {
                    alert("數量不可小於1");
                    result.value = 1;
                }
                else{
                    result.value = parseInt(result.value) - 1;
                }
                updateDatabase(parseInt(result.value), elementId.substring(3));
            }
            window.discountCode = function () {
                // event.preventDefault();
                var discountCode = document.getElementById('discountCode').value;
                validateDiscountCode(discountCode);
            }
        });
        
        
    </script>
    
}