@page
@model ShowRecoveryCodesModel
@{
    ViewData["Title"] = "恢復碼";
    ViewData["ActivePage"] = "TwoFactorAuthentication";
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <strong>請妥善保存您的恢復碼</strong>
    </p>
    <p>
        若遺失裝置且沒有備份恢復碼，將無法再存取帳號。
    </p>
</div>
<div class="alert alert-info" role="alert">
    <p>以下是10組恢復碼。每個恢復碼只能使用一次。</p>
</div>
<div class="row">
    @* <div class="col-md-12">
        @for (var row = 0; row < Model.RecoveryCodes.Length; row += 2)
        {
            <code class="recovery-code">@Model.RecoveryCodes[row]</code><text>&nbsp;</text><code class="recovery-code">@Model.RecoveryCodes[row + 1]</code><br />
        }
    </div> *@
    <div class="col-md-6">
        @for (var i = 0; i < Model.RecoveryCodes.Length / 2; i++)
        {
            <p>第@((i * 2) + 1)個: @Model.RecoveryCodes[i * 2]</p>
        }
    </div>
    <div class="col-md-6">
        @for (var i = 0; i < Model.RecoveryCodes.Length / 2; i++)
        {
            <p>第@((i * 2) + 2)個: @Model.RecoveryCodes[(i * 2) + 1]</p>
        }
    </div>
</div>
